
<input type="text" pInputText [(ngModel)]="token">

<button pButton type="button" label="Set App" (click)="servetoken()"></button>


<div class="container" style="padding: 50px 0 100px 0">
  <!-- <app-account *ngIf="session; else auth" [session]="session"></app-account> -->
  <ng-template #auth>
    <app-auth></app-auth>
    <app-login></app-login>
  </ng-template>
</div>

<mat-tab-group
  #tabGroup
>
  <mat-tab label="Home">
    <app-home
      *ngIf="session; else auth"
      [session]="session"
      [tabinput]="tabGroup"
    ></app-home>
    <ng-template #auth>
      <app-login></app-login>
    </ng-template>
  </mat-tab>
  <mat-tab label="BN levels">
    <!-- <app-bnlevels></app-bnlevels> -->
  </mat-tab>
  <mat-tab label="Scalping">
    <app-scalping #childComponent2></app-scalping>
  </mat-tab>
  <mat-tab label="Reports">
    <app-reports #childComponent></app-reports>
  </mat-tab>
</mat-tab-group>
