.text-right {
    text-align: right;
  }
  
  
  
  


.green {
  background-color: lightgreen !important;
}

.red  {
  background-color: lightcoral !important;
}
.gray{
  background-color: white !important;
}

  